*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container{ /*lavoro sullo sfondo del logo*/
    background-image: url(../img/pattern.png);
    background-color: #6495ED;
    height: 170px;
    
}

#logo{ /*lavoro sul logo*/
    width: 250px;
    height: 230px;
    margin-left: 10px;

}

#the_booleaner{
    color: #6495ED;
}

#data{
    font-size: small;
}

.text{
    margin-top: 20px;

}

.row{
    background-color: blue;
    border-collapse: collapse;
    border: none;
    color: white;
}

main{
    margin-left: 15px;
    margin-right: 15px;
}
